body {
    background: white;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: 32px;
    font-family: Arial, sans-serif;
}

input, textarea {
    font: inherit;
}

textarea {
    width: 100%;
    min-height: 4em;
}

.error, .success, .warning {
    color: white;
    padding: 1em;
}

.error {
    background: #D00;
}

.success {
    background: #0D0;
}

.warning {
    background: #D80;
}
